[Unit]
Description=Gunicorn for api.seanyang.me
After=network.target

[Service]
User=aicheye
WorkingDirectory=/home/aicheye/api.seanyang.me
ExecStart=/home/aicheye/api.seanyang.me/venv/bin/gunicorn --workers 1 --bind 127.0.0.1:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
